<!DOCTYPE html>
<html>
<link rel="stylesheet" href="styles.css">
<head>
<meta name="robots" content="noindex">
<title>Alkio-opiston koulutusvalintatesti</title>
</head>
<body>


<div class="centered">
	<img src="pics/logopieni.png" height=200>
	<h3>Kokeile Alkio-opiston koulutusvalintatestiä ja katso mitä me suosittelemme juuri Sinulle.</h3>
	<p class="wrapped">Jokainen meistä hakee omaa paikkaansa maailmassa, ja matka perille on vähintään yhtä tärkeä kuin päämäärä. Alkio-opisto 
on oppaasi ja tukijasi matkalla kohti tutkintoa tai oman polkusi etsinnässä. Alkiolla saat tärkeitä oivalluksia, 
opintopisteitä, varmuutta valintoihin ja uusia opiskelutaitoja - ja tietenkin uusia ystäviä. Parhaat tulokset tehdään 
yhdessä, ja Alkio-aika tulee olemaan erityinen ajanjakso elämässäsi. Testaa, mitä opintolinjaa me suosittelemme Sinulle.
	</p>
	
	<form id="form" action="index.php" method="POST">
		<button name="start" class="alkio_button" type="submit" form="form" value="start">Aloita tästä</button>
	</form>
</div>
</body>
</html> 
